{% extends "templates/base.html" %}

{% block content %}
<!-- Main Content Area -->

<div class="maincontent">
  <h1>News and Updates</h1>
</div>

<hr>

<!-- Working Blogpost Template -->

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post title -->
      <h3>A Second Blog Post: Testing Ahoy!</h3>
      <!-- Post Author -->
      <p><span class="glyphicon glyphicon-user"></span> <a href="#">renodubois</a></p>
      <!-- Date/Time -->
      <p><span class="glyphicon glyphicon-time"></span> Posted on October 30th, 2015 at 7:57 PM</p>
      <hr>
      <!-- Post Content -->
      <p>So I'll be looking for people to test out features of the site once it starts to come together more, so if you're intrested in doing some bug reporting and what not as features get added, <a href="mailto:rtdm9c@mst.edu">shoot me an email</a> and I can get in touch to arrange what I need done. It's also worth checking out the <a href="https://www.github.com/renodubois/renodubois.github.io">GitHub</a> and seeing what issues have been posted there. </p>
      <!-- Comments -->

      <!-- Leave a comment -->

    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post title -->
      <h3>An Introduction to the site: A Mission Statement</h3>
      <!-- Post Author -->
      <p><span class="glyphicon glyphicon-user"></span> <a href="#">renodubois</a></p>
      <!-- Date/Time -->
      <p><span class="glyphicon glyphicon-time"></span> Posted on October 30th, 2015 at 7:24 PM</p>
      <hr>
      <!-- Post Content -->
      <p>Hello and welcome to the Rolla Smash Community's Official Webpage! By the end of this sites construction, we'll have a working ranking system, forum system as well as a bracket generator and events calendar. The aim of this site is to be your one stop shop for all things related to Smash Bros. in the Rolla area. Stick around as we get these features online, and don't forget to register at the top of the page if you haven't already.</p>
      <!-- Comments -->

      <!-- Leave a comment -->

    </div>
  </div>
</div>

{% endblock %}
