{% extends "templates/base.html" %}

{% block content %}

<div class="info col-md-4">
    <h2>{{ username }}</h2>
    <h4>Name: {{ fname }} {{ lname }}</h4>
    <h4>Location: {{ location }}</h4>
    <h4>Ranking: {{ ranking | default("Not yet ranked!") }}
    <h4>Character Mains: {% for main in charMains %} <li>{{ main }}</li> {% endfor %}</h4>
</div>
<div class="col-md-8 {% if not ownsProfile %}hidden{% endif %}">
    <h3> Edit your Profile </h3>
    <form action="/users/{{ username }}/" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" name="fname">
                </div>
                <div class="col-lg-6">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" name="lname">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="{% if charMains %} col-md-6 {% else %} col-md-12 {% endif %}">
                    <label for="add-main">Add a main</label>
                    <select class="form-control" name="add-main">
                        {% for char in characters %}
                        <option value="{{ char }}">{{ char }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="{% if charMains %} col-md-6 {% else %} hidden {% endif %}">
                    <label for="del-main">Delete a main</label>
                    <select class="form-control" name="del-main">
                        <option value="Nothing">Nothing</option>
                        {% for main in charMains %}
                        <option value="{{ main }}">{{ main }}</option>
                        {% endfor %}
                    </select>
                </div>


        </div>
        <h5>Change your Password:</h5>
        <div class="form-group">
            <label for="old-pass">Old Password</label>
            <input type="password" class="form-control" name="old-pass">
        </div>
        <div class="form-group">
            <label for="new-pass">New Password</label>
            <input type="password" class="form-control" name="new-pass">
        </div>
        <div class="form-group">
            <label for="new-pass-confirm">Confirm new Password</label>
            <input type="password" class="form-control" name="new-pass-confirm">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit Changes</button>
    </form>
</div>

{% endblock %}
